.summary {
   margin-top: 20px;
}
.card {
   border: none;
   border-radius: 10px;
}
.sum-title {
   font-size: 16px !important;
   color: #8E8D93;
}
.sum-desc {
   font-size: 14px;
   color: #8E8D93;
}