.app {
   font-family: 'Roboto', sans-serif;
   color: #1D1D29;
   padding: 0;
   margin: 0;
   background-color: #f3f3f3;
}

.flex-container {
   display: flex;
}

.main-content {
   margin: 0 3%;
   padding-top: 20px;
   flex: 1;
}

.raleway-700 {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
}